
body{
    background-color: rgb(240, 125, 125);
}

/**********************IFRAME**********************/
.corpo{
    box-shadow: 5px 5px 10px black;
    position: relative;
    top: -150px;
    left: 100px;
    width: 92%;
    height: 850px;
    overflow-x: hidden;
}

/*************ICONES CANTO DIREITO****************/
.cantoDireito ul li{
    list-style: none;
    font-size: 40px;
    display: inline-block;
    position: relative;
    left: 250px;
    width: 80px;
}

#facebook:hover{
    color: blue;
}
#instagram:hover{
    color: rgb(238, 10, 48);
}
#youtube:hover{
    color: red;
}
#twitter:hover{
    color: blue;
}
#whats:hover{
    color: rgb(11, 226, 11);
}
#linkedin:hover{
    color: blue;
}
#pinterest:hover{
    color: red;
}
#snapchat:hover{
    color: yellow;
}
#tiktok:hover{
    color: rgb(71, 67, 67);
}
#wechat:hover{
    color: green;
}

/******MENU CANTO ESQUERDO*******/

.menu{
    position: relative;
    top: 10px;
}
.cantoEsquerdo ul li{
    background-color: rgb(226, 101, 101);
    width: 90px;
    border: 2px solid greenyellow;
    border-radius: 10px;
    list-style: none;
    font-size: 20px;
    height: 30px;
    margin-top: 10px;
    margin-left: -40px;
    text-align: center;
    box-shadow: 3px 3px 5px black;
}
.cantoEsquerdo ul li:hover{
    background-color: rgb(236, 158, 158);
    margin-left: -30px;
    transition: 1s;
    cursor: pointer;
}

/*****LINKS***/
a{
    color: black;
    text-decoration: none;
}

/********FOOTER********/
footer{
    text-align: center;
    margin-top: -80px;
}